.c--button {
  @include make-button-base;
  @include make-font-input;

  &.is-primary {
    background-color: $primary-background;
    color: $primary-text;

    &:hover {
      background-color: $primary-hover-background;
    }

    &:active {
      background-color: $primary-active-background;
    }

    &:disabled {
      background-color: $primary-disabled-background;
      color: $primary-disabled-text;
      cursor: not-allowed;
    }
  }

  &.is-danger {
    background-color: $danger-background;
    color: $danger-text;
  }
}
