$c--card--background: $ui-02 !default;
$c--card--header-height: $_32px !default;
$c--card--footer-height: $_32px !default;
$c--card--text-size--footer: $f--12px !default;
$c--card--body-height: auto !default;

.c--card {
  position: absolute;
  border: solid 2px #fff;
  background: $c--card--background;
  box-shadow: 0 0 0 2px $ui-03;

  display: grid;
  grid-template-rows:
    $c--card--header-height
    $c--card--body-height
    $c--card--footer-height;

  &.c--card--selected {
    border: solid 2px $focus;
    z-index: $z-index-front;
  }

  .app-main--is-ghost & {
    border: dashed 1px $focus;
    background: rgba(255, 255, 255, .4);
    box-shadow: none;

    > * {
      opacity: 0;
    }
  }
}

.c--card__header,
.c--card__footer,
.c--card__body,
.c--card__aside {
  display: flex;
  align-items: center;
  justify-content: center;
}

.c--card__header {
  overflow: hidden;

  span {
    white-space: nowrap;
    max-width: 100%;
    text-overflow: ellipsis;
  }
}

.c--card__footer {
  color: $ui-03;
  font-size: $c--card--text-size--footer;
}

.c--card__body {
}

//

.c--card__aside {
  display: none;
  position: absolute;
  bottom: 0;
  left: 0;
  height: 3rem;
  background-color: $c--card--background;
  transform: translateY(100%);
  width: 100%;

  .c--card--selected & {
    display: grid;
    @include debug;
    grid-template-columns: repeat(3, 1fr);
    padding: $base-spacing;

    button {
      height: 100%;
    }
  }
}
